body {
  background-color: #404040;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.col-8 {
  max-width: 40%; /* Reduce el tamaño horizontal del formulario */
  margin-top: 10%;
}

.card-header, .card-body {
  background-color: #303030; /* Cambia el color de fondo del card-header y card-body */
  color: white; /* Cambia el color del texto a blanco */
}

/* .ng-invalid:not(form) {
  border-left: 5px solid red;
}

.ng-valid:not(form) {
  border-left: 5px solid greenyellow;
} */

.btn {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 2;
}

.btn:hover {
  background-color: #24D48A;
  border-color: #24D48A;
}
