/* Aplica un borde negro al texto de los enlaces del navbar */
.navbar-nav .nav-link {
  color: var(--secondary); /* Color del texto */
  /*text-shadow: 
    -1px -1px 0 var(--secondary),  
     1px -1px 0 var(--secondary),
    -1px  1px 0 var(--secondary),
     1px  1px 0 var(--secondary);  Borde negro */
}

.navbar-brand {
  color: var(--secondary); /* Color del texto */
  /*text-shadow: 
    -1px -1px 0 var(--secondary),  
     1px -1px 0 var(--secondary),
    -1px  1px 0 var(--secondary),
     1px  1px 0 var(--secondary);  Borde negro */
}
.navbar .navbar-brand h1 {
  
  color: var(--secondary);
}