<body style="margin: 0; padding: 0;">
  <!-- Banner -->
  <div class="banner">
    <h1>Youtubent</h1>
  </div>

  <!-- Sección de Funcionalidades -->

  <div class="features">
    <div class="row">
      <!-- Funcionalidad 1: Reproducir videos -->
      <div class="col">
        <img src="assets/icons8-subir-100.png" alt="Icono 1">
        <h3>Reproducir videos</h3>
        <p>Podrás reproducir y encontrar miles de videos en nuestra plataforma</p>
      </div>

      <!-- Funcionalidad 2: Compartir videos -->
      <div class="col">
        <img src="assets/icons8-vídeo-100.png" alt="Icono 2">
        <h3>Compartir videos</h3>
        <p>Podrás compartir videos dentro de la plataforma con miles de otros usuarios</p>
      </div>

      <!-- Funcionalidad 3: Servicio activo siempre -->
      <div class="col">
        <img src="assets/icons8-abierto.png" alt="Icono 3">
        <h3>Servicio activo siempre</h3>
        <p>La plataforma estará activa las 24 horas del dia :D</p>
      </div>
    </div>
  </div>
</body>

