:root {
  --blue: #0072ec;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #da9f5b;
  --secondary: #33211d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #fffbf2;
  --dark: #111;
  --fontSize: 1rem;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Montserrat", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.badi {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--fontSize);
}
.h4 {
  font-size: var(--fontSize);
  color: var(--success);
}
.col-8 {
  max-width: 40%; /* Reduce el tamaño horizontal del formulario */
  margin-top: 10%;
}

.card-header, .card-body {
  background-color: var(--primary); /* Cambia el color de fondo del card-header y card-body */
  color: var(--success); /* Cambia el color del texto a blanco */
  padding: 20px; /* Añade un padding para separar los elementos dentro del card-body */
}

.color-swatch {
  width: 50px;
  height: 50px;
  display: inline-block;
}

/* Alinea los campos de entrada, colorpicker y selects a la derecha */
input, select {
  float: right;
}

/* Alinea las etiquetas a la izquierda */
label {
  float: left;
}

/* Limpia los flotantes y añade un espacio entre los campos del formulario */
.form-group::after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 15px;
}

.btn {
  background-color: transparent;
  color: var(--success);
  border: 1px solid rgb(224, 228, 231);
  border-radius: 5px;

}

.btn:hover {
  color: var(--primary);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

